# ==========================================
# Godot Engine
# ==========================================

.godot/

# Godot 3 only
.import/

# ==========================================
# Export / Builds
# ==========================================

export/
exports/
build/
builds/

*.exe
*.apk
*.ipa
*.pck

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Backup / Temp
# ==========================================

*.tmp
*.bak
*~

# ==========================================
# OS files
# ==========================================

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# ==========================================
# Personal test files (optional)
# ==========================================
scenes/test/test.gd
scenes/test/test.gd.uid
scenes/test/test.tscn
